* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    transition: all 1s;
}

:root {
    --font-family-sans: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-heading: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-body: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    overflow-x: hidden;

}

nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: white;
}

.nav-padding-side {
    padding: 0px 24px;
}

.nav-padding-top {
    padding: 20px 0px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 450px;

}

.nav-list-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list-con ul {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-down-btn {
    background: none;
    border: none;
}

.drop-down-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    width: 400px;
    top: calc(100% + 12px);
    background-color: rgb(255, 245, 245);
    border: 1px solid rgba(42, 29, 48, .16);
    border-radius: 6px;
    box-shadow: 0px 1px 19px 0px rgba(42, 29, 48, .06), 0px 0px 48px 0px hsla(30, 78%, 91%, .6);
}

.drop-down-content ul {
    padding: 0.3125rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

}

.drop-down-content h6 {
    font-size: 16px;
    font-weight: 600;
}

.drop-down-content p {
    color: rgba(35, 33, 21, .65);
    margin-top: 10px;
}

.head-dropdown {
    padding: 0px 10px;
}

.head-dropdown li:hover {
    background-color: hsla(53, 10%, 69%, .2);
    border-radius: 6px;
}

.dropdown:hover .drop-down-content {
    display: block;
}

.nav-link a {
    color: #232115;
    padding: 9px 14px;
    font-size: 15.5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: var(--font-family-body);
}

.nav-link a:hover {
    background: hsla(53, 10%, 69%, .2);
    border-radius: 6px;
}

.line {
    width: 1px;
    height: 24px;
    background-color: rgba(42, 29, 48, .16);
}

.nav-btn a {
    font-family: var(--font-family-body);
    padding: 9px 14px;
    font-size: 15.5px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #232115;
}

.start {
    background-color: #de483a;
    border-radius: 8px;
}

.start span {
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
}

.start:hover {
    background-color: #d34936;
}

.banner {
    text-align: center;
}

.ban-padding-top {
    padding: 128px 0px 50px;
}

.banner-text {
    padding: 100px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text h1 {
    font-family: var(--font-family-sans);
    font-size: 55px;
    color: #1f1f1f;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 60px;
    letter-spacing: 0.01em;
}

.banner-text p {
    font-family: var(--font-family-sans);
    color: #1f1f1f;
    font-size: 20.5px;
    line-height: 28px;
    margin-bottom: 24px;
}

.banner-text a {
    font-family: var(--font-family-body);
    background-color: #de483a;
    border-radius: 8px;
    padding: 9px 24px;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
}

.u-img {
    display: flex;
    justify-content: center;
}

.banner-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-block-size: 34.5rem;
    max-inline-size: 83.375rem;
    grid-column-gap: 0;
    position: relative;
}

.img-2 {
    position: absolute;
    left: 170px;
    z-index: 5;
}

.img-3 {
    position: relative;
    right: -420px;
    z-index: 1;
}

.review-con img {
    position: relative;
    z-index: 300;
}

.review-bg {
    position: relative;
    background-image: url(/asset/img/bg.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* background-position: bottom; */
    padding: 16px 0px 48px;
    width: 100%;
    z-index: 300;
    margin-top: -10px;
}

.review-text {
    padding: 0px 24px 24px;
    display: flex;
    justify-content: space-evenly;
    max-inline-size: 800px;
    inline-size: 100%;
}

.tt {
    max-inline-size: 250px;
    padding-bottom: 1.5rem;
}

.tt h4 {
    font-size: 14px;
    font-family: var(--font-family-body);
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #1f1f1f;
}

.tt p {
    font-size: 17px;
    font-family: var(--font-family-body);
    margin-bottom: 16px;
    color: #1f1f1f;
    font-weight: 700;
}

.review-comp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-inline-size: 14.25rem;
}

.review-comp svg {
    margin-bottom: 16px;
}